.device {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 85%;
}
.device .mid-area {
  flex: 1;
}
.device .left-area {
  display: flex;
}
.device .left-area img {
  width: 100px;
}
.device .left-area .user-msg {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-size: 10px;
}
.device .right-area {
  display: flex;
  align-items: center;
}
.device .right-area img {
  width: 30px;
  height: 30px;
}
