<link rel="stylesheet" href="./view7/Key-In-View/Key-In-View.css">
<div class="title"><span ng-click="onJumpPage('#!/view7/Date-And-Language')">时间和语言</span>><span ng-click="onJumpPage('#!/view7/Enter')">键入</span>>键入见解</div>
<div>键入见解</div>
<br/>
<div>
    <switch opened="true"></switch>
</div>
<div>
    <p>如果你想使用与语言列表中最靠前的输入法不同的输入法，请在此选择</p>
</div>
<div>
    <p>如果你想使用与语言列表中最靠前的输入法不同的输入法，请在此选择</p>
</div>
<div>
    <p>如果你想使用与语言列表中最靠前的输入法不同的输入法，请在此选择</p>
</div>
<div>
    <p>如果你想使用与语言列表中最靠前的输入法不同的输入法，请在此选择</p>
</div>
<div>
    <p>如果你想使用与语言列表中最靠前的输入法不同的输入法，请在此选择</p>
</div>
